name: PHP Syntax Checker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  php-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1' # Sesuaikan dengan versi PHP yang akan dipakai SysAdmin
        
    - name: Check PHP Syntax
      run: find ./runtut-web -name "*.php" -print0 | xargs -0 -n1 php -l
